<%- include("partials/header", { title: "Contact Us" }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<section class="main-content contact">
    <br><br><br><br><br>

    <h1 class="heading"><span>contact</span>us</h1>
    <div class="content">
        <h2>Contact us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aut
             accusantium fugiat minus consectetur cupiditate perferendis quibusdam 
             eius nulla veritatis nesciunt enim in hic, explicabo earum. Magni reiciendis ex autem?</p>
             </div>
             <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><i class="fa-solid fa-map-pin"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p><strong>abc campus road,<br>jharkhand<br>814112</strong></p>
                        </div>

                    </div>
                    <div class="box">
                        <div class="icon"></div>
                        <div class="text">
                            <h3>email</h3>
                            <p><strong>dikshakri4297@gmail.com</strong></p>
                        </div>

                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa-solid fa-phone"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p><strong>+918822334444</strong></p>
                        </div>

                    </div>


             </div>

        
</section>

<%- include("partials/footer") %>