<%- include("partials/header", { title: "Contact Us" }) %>

<section class="home main-content" id="home">
    <div class="content">
        <h3>Contact Us</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam cum nam facere? Iusto dicta, nisi veniam molestias voluptas perferendis possimus minus aliquid architecto
             consequatur, provident sed magni odit labore vel.</p>
    </div>
</section>

<%- include("partials/footer") %>