<%- include("partials/header", { title: "Home" }) %>

<section class="home main-content" id="home">
    <div class="content">
        <h3>fresh flowers</h3>
        <span>natural and beautiful flowers</span>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam cum nam facere? Iusto dicta, nisi veniam molestias voluptas perferendis possimus minus aliquid architecto
             consequatur, provident sed magni odit labore vel.</p>
           <a href="/products" class="btn"> shop now</a>
    </div>
</section>



<%- include("partials/footer") %>




