<%- include("partials/header", { title: "Status" }) %>

<section class="status main-content" id="status">
    <br><br><br><br><br>
    <div class="container">
        <h2><%= message %></h2>
    </div>
</section>

<%- include("partials/footer") %>
